* {
    box-sizing: border-box;
}

.container-menuDesktop {
    width: 5.5vw !important;
    height: 25vw !important;
    margin-right: 2vw;
    border-radius: 10em;
    background-color: #2A2A2A !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
    align-items: center !important;
    position: fixed !important;
    z-index: 100;
    right: 1vw;
}

a {
    color: #fff;
}


.container-menuDesktop article {
    width: 3vw !important;
    height: 3vw !important;
    background-color: #2f2f2f;
}

.container-menuDesktop article a {
    width: 3vw !important;
    height: 3vw !important;
    display: grid;
    place-items: center;
    font-size: 1.4vw !important;
    color: #fff;
}

.ancla_activo {
    cursor: pointer;
    border: 0.05em solid #ffb633;
    color: #ffb633 !important;
}
