
* {
    box-sizing: border-box;
  }
  
  /* Creo esta clase para que me funcione el "scrollspy" de Bootstrap */
  
  .container {
    overflow: scroll;
    position: relative;
  }
  
  
  .container-menuDesktop {
    width: 5.5vw !important;
    height: 25vw !important;
    margin-right: 2vw;
    border-radius: 10em;
    background-color: #2A2A2A !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
    align-items: center !important;
    position: fixed !important;
    z-index: 100;
    right: 1vw;
    top: 11.7vw;
  }
  
  a {
    color: #fff;
  }
  
  .container-menuDesktop article {
    width: 3vw !important;
    height: 3vw !important;
    background-color: #2f2f2f;
    border-radius: 50%;
    position: relative;
  }
  
  .container-menuDesktop article:hover {
    cursor: pointer;
  }
  
  .container-menuDesktop article .style-Link {
    width: 3vw !important;
    height: 3vw !important;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 1.4vw !important;
    color: #fff;
  }

  .effectMove {
    animation: moveIcon 1s forwards;
  }

  @keyframes moveIcon {
    from {
     position: relative;
     bottom: 0;
    }

    to {
      /* positsion: relative; */
      bottom: 1vw;
    }
  }
  
  .ancla_activo {
    color: #ffb633 !important;
  }
  
  .borde-ancla {
    animation: animatedNeonBorder 2.5s infinite;
  }

  @keyframes animatedNeonBorder {
    0% {
      border: 0;
     border-shadow: none;
    }

    50% {
      border: 0.1em solid #ffb633;
      box-shadow: 0 0 0.5vw #ffb633,
                0 0 0.55vw #ffb633,
                0 0 0.6vw #ffb633,
                0 0 0.65vw #ffb633,
                0 0 0.7vw #ffb633,
                0 0 0.95vw #ffb633;
    }

    100% {
     border: 0;
     box-shadow: none;
    }
  }
  
  .title_section-home:before {
    content: "Inicio";
  }
  
  .title_section-sobreMi:before {
    content: "SobreMí";
  }
  
  .title_section-conocimientos:before {
    content: "Conocimientos";
  }
  
  .title_section-proyectos:before {
    content: "Proyectos"
  }
  
  .title_section-contactos:before {
    content: "Contactos";
  }
  
  .title_section-home:before,
  .title_section-sobreMi:before,
  .title_section-conocimientos:before,
  .title_section-proyectos:before,
  .title_section-contactos:before {
    position: absolute;
    font-size: 0;
    font-family: 'anton', sans-serif;
    letter-spacing: 1px;
    color: #2a2a2a;
    text-shadow: 0.05em 0.1em 0.15em #c3c3c3;
    opacity: 0;
    transition-duration: 0.5s;
    padding: 0.3vw 0.5vw 0.3vw 0.5vw;
    border-radius: 0.33vw;
    background-color: #fff;
    box-shadow: 0.2vw 0.3vw 0.4vw #2a2a2a;
  }

  .title_section-home:after,
  .title_section-sobreMi:after,
  .title_section-conocimientos:after,
  .title_section-proyectos:after,
  .title_section-contactos:after {
    content: "";
    position: absolute;
    left: -1vw;
    top: 50%;
    width: 0;
    height: 0;
    transition-duration: 0.3s;
    transform: rotate(90deg);
    border-right: 0 solid transparent;
    border-left: 0 solid transparent;
    border-bottom: 0 solid #fff;
    margin-left: 2vw;
  }

  .title_section-home:hover:after,
  .title_section-sobreMi:hover:after,
  .title_section-conocimientos:hover:after,
  .title_section-proyectos:hover:after,
  .title_section-contactos:hover:after {
    top: 30%;
    transition-duration: 0.3s;
    border-right: 0.6vw solid transparent;
    border-left: 0.6vw solid transparent;
    border-bottom: 1.2vw solid #fff;
    margin-left: 0;
  }
  
  .title_section-home:hover:before,
  .title_section-sobreMi:hover:before,
  .title_section-conocimientos:hover:before,
  .title_section-proyectos:hover:before,
  .title_section-contactos:hover:before {
    font-size: 1.1vw;
    opacity: 1;
    transition-duration: 0.3s;
  }
  
  .title_section-home:hover:before {
    margin-right: 7.9vw;
  }
  
  .title_section-sobreMi:hover:before {
    margin-right: 9.3vw;
  }
  
  .title_section-conocimientos:hover:before {
    margin-right: 12.75vw;
  }
  
  .title_section-proyectos:hover:before,
  .title_section-contactos:hover:before {
    margin-right: 10.2vw;
  }
  
  .text-hide:before, .text-hide:after {
    display: none !important;
  }