@media screen and (max-width: 800px) {
  .item-li {
    height: 35px;
    width: auto;
  }

  .item-li:hover {
    transition: all 0.3s;
  }

  .item-li a:before {
    display: none;
  }

  /* .item-li a {
  } */

  .menu-activado > .style-logo-video {
    width: 4.7em;
    height: 4.7em;
    margin-left: 1em;
    margin-top: 0.45em;
    z-index: 2 !important;
  }

  .menu-navegacion ul li a {
    font-size: 1em;
    letter-spacing: 2px;
    width: auto;
    text-shadow: 1px 0 0 #2a2a2a, 0 1px 0 #2a2a2a, -1px 0 0 #2a2a2a,
      0 -1px 0 #2a2a2a;
  }

  .container-Padre_menu .burger {
    width: 2em;
    height: 1.4em;
    margin-top: 0 !important;
    right: 18px;
    z-index: 2;
  }

  .label-menu {
    width: 2em;
    height: 1.4em;
    margin-right: 0;
  }

  .label-menu #span-1,
  .label-menu #span-2,
  .label-menu #span-3 {
    width: 2em;
    height: 0.15em;
  }

  /* Cuando hago click en el "checkbox", va a producirse el siguiente efecto: */
  #btn-menu:checked ~ .label-menu #span-1,
  #btn-menu:checked ~ .label-menu #span-3 {
    width: 2em;
    height: 0.15em;
    margin-top: 5px;
  }

  #btn-menu:checked ~ .label-menu #span-1 {
    top: 5px;
  }

  #btn-menu:checked ~ .label-menu #span-3 {
    top: -10px !important;
  }

  .menu-activado {
    transition: all 0.3s !important;
    display: flex !important;
  }

  .menu-activado > video {
    display: flex !important;
  }

  .container-Padre_menu .hide {
    display: none !important;
  }

  .container-Padre_menu .menu-navegacion {
    width: 100vw;
    height: 100% !important;
    top: 0;
    transition: all 0.5s !important;
  }

  .container-Padre_menu .menu-navegacion ul {
    top: 0;
    width: 100vw;
    padding-bottom: 0 !important;
    height: 100% !important;
    border-radius: 0;
    background-color: #131613 !important;
  }

  .items-container {
    width: 100vw !important;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    left: -32px !important;
    bottom: 10px;
  }

  .li-contactos {
    display: none;
  }

  .menu-navegacion > .container-logos {
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    align-self: flex-end;
    right: 2.5em !important;
    margin-bottom: 12px;
  }

  nav > .container-logos {
    display: flex !important;
    justify-content: space-between !important;
  }

  nav > .container-logos > .logo-redSocial__container {
    width: 33px !important;
    height: 33px !important;
    box-shadow: 0.2vw 0.3vw 0.4vw #000000;
  }

  nav > .container-logos > .linkedin-container .style-i,
  nav > .container-logos > .twitter-container .style-i,
  nav > .container-logos > .instagram-container .style-i {
    font-size: 20px !important;
  }

  nav > .container-logos > .github-container .style-i,
  nav > .container-logos > .whatsapp-container .style-i {
    font-size: 22px !important;
    margin: auto;
  }

  nav > .container-logos > .mail-container .style-i {
    font-size: 23px !important;
  }

  .mail-container,
  .container-whatsapp,
  .whatsapp-container,
  .style__text-hazme-click {
    position: relative !important;
    bottom: 0 !important;
  }

  .whatsapp-container {
    margin-top: 0 !important;
  }

  nav > .container-logos > .mail-container,
  nav > .container-logos > .whatsapp-container,
  nav > .container-logos > .github-container,
  nav > .container-logos > .linkedin-container,
  nav > .container-logos > .twitter-container,
  nav > .container-logos > .instagram-container {
    border-radius: 40% !important;
  }

  nav > .container-logos > .mail-container {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#30a9ff),
      to(#006fbe)
    ) !important;
  }

  nav > .container-logos > .whatsapp-container {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#83ff8f),
      to(#248f34)
    ) !important;
  }

  nav > .container-logos > .github-container {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#343d47),
      to(#0c0c0c)
    ) !important;
  }

  nav > .container-logos > .linkedin-container {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#1ca7ec),
      to(#016a9e)
    ) !important;
  }

  nav > .container-logos > .twitter-container {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#61bffa),
      to(#0fa3ff)
    ) !important;
  }

  nav > .container-logos > .instagram-container {
    background: #d6249f;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    ) !important;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  }
}

@media only screen and (min-width: 320px) and (max-width: 760px) {
  .container-Padre_menu .burger {
    margin-top: 55px;
  }

  nav > .container-logos > .mail-container .style-i {
    font-size: 4.25vw !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 320px) {
  .container-Padre_menu .burger {
    width: 1.8em;
    height: 1.2em;
    right: 14px;
    margin-top: 1px !important;
    /* background-color: red; */
  }

  .label-menu {
    width: 1.8em;
    height: 1.2em;
    /* background-color: green; */
  }

  .label-menu #span-1,
  .label-menu #span-2,
  .label-menu #span-3 {
    width: 1.8em;
    height: 0.15em;
  }

  #btn-menu:checked ~ .label-menu #span-1 {
    top: 2px;
  }

  nav > .container-logos > .logo-redSocial__container {
    width: 30px !important;
    height: 30px !important;
  }

  nav > .container-logos {
    min-width: 285px !important;
    position: relative;
    left: -63px !important;
  }

  nav > .container-logos > .linkedin-container .style-i,
  nav > .container-logos > .twitter-container .style-i,
  nav > .container-logos > .instagram-container .style-i {
    font-size: 6.4vw !important;
  }

  nav > .container-logos > .github-container .style-i,
  nav > .container-logos > .whatsapp-container .style-i {
    font-size: 6.8vw !important;
  }

  nav > .container-logos > .mail-container .style-i {
    font-size: 6vw !important;
  }

  nav > .container-logos {
    width: 80vw !important;
    margin-left: 7%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
  nav > .container-logos > .logo-redSocial__container {
    width: 27px !important;
    height: 27px !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 320px) {
  .menu-activado > .style-logo-video {
    width: 3em;
    height: 3em;
    margin-left: 0.6em;
    margin-top: 0.1em;
    z-index: 2;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .menu-activado > .style-logo-video {
    width: 3.5em;
    height: 3.5em;
    margin-left: 0.7em;
    margin-top: 0.1em;
    z-index: 2;
    display: flex !important;
  }

  nav > .container-logos {
    width: 80vw !important;
    margin-left: 3.5%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .container-Padre_menu .burger {
    width: 1.8em;
    height: 1.2em;
    right: 14px;
    margin-top: 1px !important;
    /* background-color: red !important; */
  }

  .label-menu {
    width: 1.8em;
    height: 1.2em;
    /* background-color: green !important; */
  }

  .label-menu #span-1,
  .label-menu #span-2,
  .label-menu #span-3 {
    width: 1.8em;
    height: 0.15em;
  }

  #btn-menu:checked ~ .label-menu #span-3 {
    top: -6px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
  nav > .container-logos {
    position: relative;
    left: -18px !important;
  }
}
