* {
  box-sizing: border-box;
}

.container-Padre_menu {
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
}

.item-li {
  display: flex;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

.item-li a:before {
  content: "";
  display: block;
  width: 0;
  height: 35px;
  background-color: #2c2c2c;
  position: absolute;
  transition: all 0.7s;
  opacity: 0.15;
  border-radius: 0 20px 0 20px;
}

.item-li a:hover:before {
  width: 100%;
}

.item-li a:before {
  left: 50%;
}

.item-li a:hover:before {
  left: 0;
}

.item-li:hover {
  transition: all 1.4s;
  color: #2c2c2c;
}

.menu-navegacion ul li a {
  height: 2.3vw;
  text-decoration: none;
  color: #fff;
  font-size: 1.3vw;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0.03em 0.08em 0.1em black;
  line-height: 35px;
  transition: all 1s;
}

.container-Padre_menu .burger {
  position: fixed;
  width: 2.5vw;
  height: 1.7em;
  color: #fff;
  margin-top: 4.6%;
  right: 2%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  cursor: pointer;
}

.label-menu {
  width: 2.5vw;
  height: 1.7em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label-menu #span-1,
#span-2,
#span-3 {
  content: "";
  background-color: #fff;
  width: 2.5vw;
  height: 0.2em;
  box-shadow: 2px 2px 2px #555555;
  border-radius: 4px;
  transition: all 0.4s;
}

#btn-menu {
  display: none;
}

/* Cuando hago click en el "checkbox", va a producirse el siguiente efecto: */
#btn-menu:checked ~ .label-menu #span-1 {
  transform: rotate(140deg);
}

#btn-menu:checked ~ .label-menu #span-2 {
  opacity: 0;
}

#btn-menu:checked ~ .label-menu #span-3 {
  transform: rotate(-140deg);
}

#btn-menu:checked ~ .label-menu #span-1,
#btn-menu:checked ~ .label-menu #span-3 {
  height: 5px;
  box-shadow: none;
  position: relative;
  top: 45%;
}

@media screen and (min-width: 1024px) {
  .container-Padre_menu .burger {
    height: 1.4vw !important;
    right: 1.8%;
  }

  .label-menu {
    height: 1.4vw !important;
    /* background-color: green; */
  }

  .label-menu #span-1,
  #span-2,
  #span-3 {
    width: 2.3vw !important;
    height: 0.15vw !important;
  }

  #btn-menu:checked ~ .label-menu #span-3 {
    top: -26% !important;
  }

  #btn-menu:checked ~ .label-menu #span-1,
  #btn-menu:checked ~ .label-menu #span-3 {
    top: 59%;
  }
}

.container-Padre_menu .hide {
  transform: translate(110%);
}

.container-Padre_menu .menu-activado {
  transition: all 1s;
}

.container-Padre_menu .menu-navegacion {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  transition: all 1s;
  z-index: 1;
}

.items-container {
  width: auto;
  height: 27vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-Padre_menu .menu-navegacion ul {
  position: fixed;
  right: 0;
  padding-bottom: 40px;
  width: 23vw;
  height: 42vw;
  display: grid;
  place-items: center;
  transition: all 1.5s;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 350%;
  background-color: #ffb633;
  z-index: 1;
}

.menu-navegacion > .container-logos {
  display: none;
}
