@media screen and (max-width: 768px) {
    .container-menuDesktop {
        display: none !important;
    }
  
  .container-Padre_menu {
    width: 100%;
    display: flex !important;
    align-items: center;
    z-index: 1;
    background-color: blue !important;
  }

  .container-menuMobile {
    width: 25vw !important;
    height: 83vw !important;
    border-radius: 10em;
    background-color: #2A2A2A !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
    align-items: center !important;
    position: fixed !important;
    z-index: 100;
}

a {
    color: #fff;
}


.container-menuMobile article {
    width: 10vw !important;
    height: 10vw !important;
    background-color: #2f2f2f;
    border-radius: 50%;
}

.container-menuMobile article a {
    width: 10vw !important;
    height: 10vw !important;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 5vw !important;
    color: #fff;
}


.ancla_activo {
 color: #ffb633 !important;
}

.borde-ancla {
    animation: none;
    border: 0.1em solid #ffb633 !important;
    box-shadow: 0 0 1.2vw #ffb633,
    0 0 1.6vw #ffb633,
    0 0 1.7vw #ffb633,
    0 0 1.8vw #ffb633,
    0 0 1.9vw #ffb633,
    0 0 2vw #ffb633;
}
  
  .container-Padre_menu .burger {
    position: fixed;
    width: 9vw;
    height: 6.8vw;
    color: #fff;
    /* margin-bottom: 0%; */
    right: 3.8%;
    top: 4vw;
    z-index: 2;
    cursor: pointer;
    /* background-color: red; */
  }
  
  .label-menu {
    width: 9vw;
    height: 6.7vw;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .label-menu #span-1,
  #span-2,
  #span-3 {
    content: "";
    background-color: #fff;
    width: 9vw;
    height: 0.65vw;
    box-shadow: 2px 2px 2px #555555;
    border-radius: 4px;
    transition: all 0.4s;
  }
  
  #btn-menu {
    display: none;
  }
  
  /* Cuando hago click en el "checkbox", va a producirse el siguiente efecto: */
  #btn-menu:checked ~ .label-menu #span-1 {
    transform: rotate(140deg);
  }
  
  #btn-menu:checked ~ .label-menu #span-2 {
    opacity: 0;
  }
  
  #btn-menu:checked ~ .label-menu #span-3 {
    transform: rotate(-140deg);
  }
  
  #btn-menu:checked ~ .label-menu #span-1,
  #btn-menu:checked ~ .label-menu #span-3 {
    width: 9vw;
    height: 0.65vw;
    margin-top: 0.6vw;
    position: relative;
    box-shadow: none;
 
  }


  #btn-menu:checked ~ .label-menu #span-1 {
    top: 2.5vw;
  }

  #btn-menu:checked ~ .label-menu #span-3 {
    top: -3vw !important;
  }

  .container-Padre_menu .menu-navegacion {
    top: 0;
    width: 100vw !important;
    padding-bottom: 0 !important;
    height: 100% !important;
    transition: all 0.5s !important;
    border-radius: 0;
    display: grid;
    place-items: center;
  }

  .menu-navegacion:before {
      content: "";
      position: absolute;
      top: 0;
      width: 100vw;
      height: 101%;
      background-color: #131613;
      /* background-color: red; */
  }
  
  .container-Padre_menu .hide {
    display: none !important;
  }
  
  .container-Padre_menu .menu-activado {
    transition: all 1s;
  }
  
  .container-Padre_menu .menu-navegacion {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    transition: all 1s;
    z-index: 1;
  }

  
  .menu-navegacion > .container-logos {
    display: none;
  }
  
  }
 