* {
  box-sizing: border-box;
}

.container-padre {
  width: 100%;
  height: 44vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container-header {
  width: auto;
  height: 5vw;
  background-color: #2a2a2a;
  display: flex;
  justify-content: space-between !important;
  /* background-color: #fff; */
}

.container_fondo-presentacion-imageDev .style-logo-video {
  float: left;
  margin-left: 1%;
  margin-bottom: 0.3%;
  z-index: 0 !important;
}

.container_fondo-presentacion-imageDev {
  width: 100%;
  height: 44vw;
  background-image: url("../../img/imageFondoInicio.jpg");
  background-size: cover;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
}

.container__presentacion-imageDeveloper {
  width: 46%;
  height: 27.5vw;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.8% !important;
  position: relative;
  left: 12px;
  margin: auto;
  /* overflow: hidden; */
}

.container_fondo-presentacion-imageDev .container__texto-presentacion {
  width: 30vw;
  height: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: blue; */
}

.container-imageDeveloper {
  width: 15vw;
  height: 15vw;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 5px -1px 9px #000000;
  overflow: hidden;
}

.container__presentacion-imageDeveloper img {
  width: 13vw;
  height: 16vw;
  position: relative;
  bottom: 0.5vw;
  z-index: 1;
}

.style-h1-home,
a,
.container__lineas-horizontales,
.style-span_linea-horizontal-home1,
.style-span_linea-horizontal-home2,
.nombre-apellido,
.span__text-soy,
.style-logo-video {
  position: relative;
}

.style-h1-home {
  width: auto;
  font-family: "Anton", sans-serif;
  letter-spacing: 5px;
  margin-top: 2%;
}

.nombre,
.apellido {
  /* background-color: red; */
  font-size: 2.7vw !important;
  font-weight: 600;
  text-transform: uppercase !important;
  color: #ffb633;
  text-shadow: 1px 2px 3px #000000;
}

.span__text-soy {
  font-family: "Anton", sans-serif;
  font-size: 1.5vw;
  color: #fff;
  text-transform: none;
  letter-spacing: 3px;
  text-shadow: 1px 2px 3px #000000;
}

.container-textFrontendJR-iconFrontend {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  position: relative;
  bottom: 0.5vw;
  /* background-color: red; */
}

.container-textFrontendJR-iconFrontend > img {
  width: 2vw;
  height: 2vw;
  margin-left: 1vw;
  position: relative;
  top: 0;
}

.style-frontendJr {
  color: #fff;
  font-family: "Anton", sans-serif;
  font-size: 1.2vw;
  letter-spacing: 2px;
  margin-top: 1vw;
  transition: all 0.5s;
}

@keyframes animarBottom {
  0% {
    transform: translateX(0px);
  }

  10% {
    transform: translateX(16.6vw);
  }

  0% {
    transform: translateX(0px);
  }
}

@keyframes animarTop {
  0% {
    transform: translateX(0px);
  }

  10% {
    transform: translateX(-17vw);
  }

  0% {
    transform: translateX(0px);
  }
}

.container-arrowDown {
  display: none !important;
}

@media only screen and (min-width: 2560px) and (max-width: 2560px) {
  .text-deslizable__container {
    padding-right: 51vw !important;
  }
}
