@media screen and (max-width: 800px) {
  .container-padre {
    height: auto;
  }

  .container-header {
    width: auto;
    height: 16vw;
  }

  .container_fondo-presentacion-imageDev .style-logo-video {
    width: 13vw;
    height: 13vw;
    float: left;
    margin-left: 3%;
    margin-top: 1.2%;
  }

  .container_fondo-presentacion-imageDev {
    height: 130vw;
    background-position: center;
    background-attachment: unset !important;
  }

  .container__presentacion-imageDeveloper {
    width: 100%;
    height: 85vw;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 13% !important;
    position: relative;
    left: 0;
  }

  .container__presentacion-imageDeveloper {
    height: 90vw;
    /* background-color: blue; */
    margin-top: 12% !important;
  }

  .container-arrowDown {
    position: relative;
    bottom: 4vw;
    /* background-color: red; */
  }

  .container-arrowDown > .fa-arrow-down {
    font-size: 7vw;
    color: #ffffff;
    opacity: 0.4;
    animation: animarArrowDown 2s infinite;
  }

  @keyframes animarArrowDown {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(20vw);
      opacity: 0;
    }
  }

  .container_fondo-presentacion-imageDev .container__texto-presentacion {
    width: 80vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
  }

  .container-imageDeveloper {
    width: 60vw;
    height: 60vw;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
  }

  .container__presentacion-imageDeveloper img {
    width: 51vw;
    height: 63vw;
    position: relative;
    bottom: 0.5vw;
    z-index: 1;
  }

  .style-h1-home {
    margin-top: 0;
  }

  .nombre,
  .apellido {
    font-size: 4.8vw !important;
    letter-spacing: 3px;
  }

  .span__text-soy {
    font-size: 3.7vw !important;
    margin-left: 5.5%;
  }

  .container-textFrontendJR-iconFrontend {
    width: 43vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    position: relative;
    bottom: 0.5vw;
    /* background-color: red; */
  }

  .container-textFrontendJR-iconFrontend > img {
    width: 7vw !important;
    height: 7vw !important;
    position: relative;
    top: -3px !important;
  }

  .style-frontendJr {
    color: #fff;
    font-family: "Anton", sans-serif;
    font-size: 2.7vw;
    letter-spacing: 2px;
    margin-left: 4%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container_fondo-presentacion-imageDev {
    height: 125vw;
    background-position: center;
    background-attachment: unset;
  }

  .container-header {
    height: 3.8em;
  }

  .container_fondo-presentacion-imageDev .style-logo-video {
    width: 3.5em;
    height: 3.5em;
    margin-left: 0.7em;
    margin-top: 0.1em;
    z-index: 2;
  }

  .container_fondo-presentacion-imageDev .container__texto-presentacion {
    width: 60vw;
    height: 23vw;
    /* background-color: red; */
  }

  .container-imageDeveloper {
    width: 50vw;
    height: 50vw;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
  }

  .container__presentacion-imageDeveloper img {
    width: 43vw;
    height: 53vw;
    position: relative;
    bottom: 0.5vw;
    z-index: 1;
  }

  .style-frontendJr {
    font-size: 3.5vw;
    position: relative;
    top: 3px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .container_fondo-presentacion-imageDev {
    height: 125vw;
    background-position: center;
    background-attachment: unset;
  }

  .container-header {
    height: 3.8em !important;
  }

  .container_fondo-presentacion-imageDev .style-logo-video {
    width: 3.5em !important;
    height: 3.5em !important;
    margin-left: 0.7em;
    margin-top: 0.1em;
    z-index: 2;
  }
}

@media only screen and (min-width: 800px) and (max-width: 882px) {
  .container_fondo-presentacion-imageDev .container__texto-presentacion {
    width: 25vw !important;
    height: 17vw !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
