* {
    box-sizing: border-box;
}

.container-padre {
    width: 100%;
    height: 47vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container_dark-grey .style-logo-video {
    width:  7vw;
    height: 7vw;
    float: left;
    margin-left: 3%;
    margin-top: 1.3%;
}

.scroll {
    width: 2.7vw;
    height: 5vw;
    margin: auto;
    position: relative;
    top: 4%;
    left: 23%;
    border: 0.20vw solid #FFB633;
    border-radius: 100px;
    display: flex;
    justify-content: center;
}

.scroll:before {
    content: "";
    width: 0.25vw;
    height: 1vw;
    background-color: #FFB633;
    border-radius: 100px;
    opacity: 1;
    animation: animar 3s infinite;
}

@keyframes animar {
    0% {
        opacity: 1;
        margin-top: 30%;
    }

    25% {
        opacity: 0.75;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.25;
    }

    100% {
        opacity: 0;
        margin-top: 125%;
    }
}

.container_header-menu, .container_fondos-colores {
    display: flex;
    height: 47.6vw;
}

.container_fondos-colores .container_dark-grey {
    width: 80%;
    height: auto;
    background-color: #2A2A2A;
}

.container_fondos-colores .container_dark-grey 
.container__texto-presentacion {
    width: 49vw;
    height: auto;
    margin-top: 13%;
    margin-left: 6%;
}


.container_fondos-colores .container-orange {
    width: 40%;
    height: auto;
    background-color: #FFB633;
}

.container_fondos-colores .container-orange img {
    width: 35vw;
    height: 44vw;
    position: relative;
    margin-top: 9%;
    right: 45%;
    z-index: 1;
}

.style-h1-home, a, .container__lineas-horizontales,
.style-span_linea-horizontal-home1, .style-span_linea-horizontal-home2, .nombre-apellido, .span__text-soy, .style-logo-video {
    position: relative;
}

.style-h1-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    letter-spacing: 5px;
}

.nombre-apellido {
    font-size: 5vw !important;
    font-weight: 600;
    text-transform: uppercase !important;
    color: #FFB633 !important;
    margin-top: 2%;
    margin-bottom: 1%;
}

.style-h1-home .span__text-soy {
    color: #fff;
    font-size: 3.5vw;
    text-transform: none;
    letter-spacing: 3px;
}

.style-videoFrontend-animation {
    width: 19vw;
    margin: auto;
}

@keyframes animarBottom {
    0% {
        transform: translateX(0px);
    }

    10% {
        transform: translateX(16.6vw);
    }

    0% {
        transform: translateX(0px);
    }
}

@keyframes animarTop {
    0% {
        transform: translateX(0px);
    }

    10% {
        transform: translateX(-17vw);
    }

    0% {
        transform: translateX(0px);
    }
}