@media screen and (max-width: 800px) {
    .container-padre {
        height: auto;
    }
    
    .container_dark-grey .style-logo-video {
        width:  60px;
        height: 60px;
        margin-left: 0.5em;
        margin-top: 0.5em;
    }
    
    .scroll {
        width: 18px;
        height: 35px;
        border: 2px solid #FFB633;
        top: 1em;
    }

    .scroll:before {
        width: 2px;
        height: 5px;
    }

    .container_header-menu, .container_fondos-colores {
        height: 70vw;
    }
    
    .container_fondos-colores .container_dark-grey 
    .container__texto-presentacion {
        width: 100%;
        margin-top: 22% !important;
        margin-left: 0;
        padding-right: 15px;
    }

    .nombre-apellido {
        font-size: 5.5vw !important;
        letter-spacing: 3px;
        left: 2.4%;
        margin-top: 5%;
        margin-bottom: -5%;
        box-shadow: 0 0 8px #000;
        padding-left: 3px;
    }
    
    .style-h1-home .span__text-soy {
        font-size: 4.5vw;
    }
    
    /* .style-span_linea-horizontal-home1, .style-span_linea-horizontal-home2 {
        width: 13vw;
        height: 4px;
    }
     */
    .style-videoFrontend-animation {
        width: 32vw;
    }

    .container_fondos-colores .container-orange {
        width: 38%;
    }
    
    .container_fondos-colores .container-orange img {
        width: 47vw;
        height: 60vw;
        right: 30%;
        top: 15%;
        z-index: 0;
    }
}