* {
  box-sizing: border-box;
}

.container-padre {
  width: 100%;
  height: 47vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container-header {
  width: auto;
  height: 6vw;
  background-color: #2a2a2a;
  display: flex;
  justify-content: space-around !important;
}

.container_fondo-presentacion-imageDev .style-logo-video {
  width: 5vw;
  height: 5vw;
  float: left;
  margin-left: 1.5%;
  margin-top: 0.5%;
  z-index: 0 !important;
}

.scroll {
  width: 2vw;
  height: 3.5vw;
  margin: auto;
  position: relative;
  top: 0%;
  left: 44%;
  border: 0.2vw solid #ffb633;
  border-radius: 100px;
  display: flex;
  justify-content: center;
}

.scroll:before {
  content: "";
  width: 0.25vw;
  height: 1vw;
  background-color: #ffb633;
  border-radius: 100px;
  opacity: 1;
  animation: animarDown 3s infinite;
}

@keyframes animarDown {
  0% {
    opacity: 1;
    margin-top: 30%;
  }

  25% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    opacity: 0;
    margin-top: 125%;
  }
}

.container_fondo-presentacion-imageDev {
  width: 100%;
  height: 47vw;
  background-image: url("../../img/imageFondoInicio.png");
  background-size: cover;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container__presentacion-imageDeveloper {
  width: 46%;
  height: 27.5vw;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 6% !important;
  position: relative;
  left: 12px;
  margin: auto;
  overflow: hidden;
}

.container_fondo-presentacion-imageDev .container__texto-presentacion {
  width: 30vw;
  height: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: red; */
}

.container-imageDeveloper {
  width: 15vw;
  height: 15vw;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 5px -1px 9px #000000;
  overflow: hidden;
}

.container__presentacion-imageDeveloper img {
  width: 13vw;
  height: 16vw;
  position: relative;
  bottom: 0.5vw;
  z-index: 1;
}

.style-h1-home,
a,
.container__lineas-horizontales,
.style-span_linea-horizontal-home1,
.style-span_linea-horizontal-home2,
.nombre-apellido,
.span__text-soy,
.style-logo-video {
  position: relative;
}

.style-h1-home {
  width: auto;
  font-family: "Anton", sans-serif;
  letter-spacing: 5px;
  margin-top: 2%;
}

.bloqueDeslizable-container {
  width: 43vw;
  /* background-color: green; */
  margin: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  overflow: hidden;
}

.nombre,
.apellido {
  /* background-color: red; */
  font-size: 2.7vw !important;
  font-weight: 600;
  text-transform: uppercase !important;
  color: #ffb633;
  text-shadow: 1px 2px 3px #000000;
}

.span__text-soy {
  font-family: "Anton", sans-serif;
  font-size: 1.5vw;
  color: #fff;
  text-transform: none;
  letter-spacing: 3px;
}

.span__text-soy {
  text-shadow: 1px 2px 3px #000000;
}

@keyframes changeColorFrontendJr {
  0% {
    color: #fff;
    text-shadow: 1px 2px 3px #000;
    transform: scale(1.4);
  }

  50% {
    color: #2a2a2a;
    text-shadow: none;
    transform: scale(0.8);
  }

  100% {
    color: #ffb633;
    text-shadow: 1px 2px 3px #000;
    transform: scale(1.4);
  }
}

.style-frontendJr {
  color: #fff;
  font-family: "Anton", sans-serif;
  font-size: 1.2vw;
  letter-spacing: 2px;
  margin-top: 1vw;
  transition: all 0.5s;

  animation: changeColorFrontendJr 5s alternate 2;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes animarBottom {
  0% {
    transform: translateX(0px);
  }

  10% {
    transform: translateX(16.6vw);
  }

  0% {
    transform: translateX(0px);
  }
}

@keyframes animarTop {
  0% {
    transform: translateX(0px);
  }

  10% {
    transform: translateX(-17vw);
  }

  0% {
    transform: translateX(0px);
  }
}

@media only screen and (min-width: 2560px) and (max-width: 2560px) {
  .text-deslizable__container {
    padding-right: 51vw !important;
  }
}
