@media screen and (max-width: 800px) {
  .container-padre__Contactos {
    height: 76vw;
    background-attachment: scroll;
  }

  .container-hijo__contactos:before {
    width: 46.5vw;
    height: 48vw;
  }

  .container-hijo__contactos {
    width: 90vw;
    height: 48vw;
    top: 12%;
    border-left: 2vw !important;
    border-bottom: 2vw !important;
    border-style: solid !important;
    border-color: #ffb633 !important;
  }

  .container__title-lineaHorizontal {
    height: 9.5vw;
    padding-left: 7.5%;
    top: 6%;
  }

  .style-h1__title-contactos {
    font-size: 8vw;
    line-height: 7.2vw;
  }

  .title-lineaHorizontal__contactos {
    width: 20vw !important;
    height: 0.3vw !important;
    right: 13.5%;
    top: -1%;
  }

  .container__site-footer {
    width: 100%;
    height: 10vw;
    top: 25%;
    background-color: #2a2a2a;
    display: flex;
    align-items: center;
  }

  .container__site-footer,
  .container-datos__siteFooter,
  .style-button__return,
  .style__text-desarrollador,
  img {
    position: relative;
  }

  .container-datos__siteFooter {
    width: 66vw;
    height: 7.5vw;
  }

  .container__site-footer img {
    width: 9vw;
    height: 5.4vw;
    top: 16%;
  }

  .style-button__return {
    color: #ffb633;
    font-size: 6vw;
    left: 60%;
    cursor: pointer;
    transition: all 0.5s;
  }

  .style-button__return:hover {
    color: #fff;
    transform: scale(1.1);
  }

  .style__text-desarrollador {
    color: #fff;
    font-size: 2.5vw;
    font-weight: 300 !important;
    position: relative;
    top: 25%;
  }

  .container__datos-contactos {
    width: 100%;
    height: 27vw;
    margin: auto;
    top: 16%;
    display: flex;
    flex-direction: column;
  }

  .container-redSocial {
    width: 90%;
    height: auto;
  }

  .whatsapp-mail__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .container-whatsapp,
.container-mail {
    width: auto !important;
    display: flex;
    flex-direction: column;
}

  .container-mail .style-p,
  .container-whatsapp .style-p {
    left: 0 !important;
  }

  .container__datos-contactos .style-p {
    font-size: 3.3vw !important;
    margin: auto;
    margin-top: 3% !important;
  }

  .container__logos-redes {
    width: 95%;
    margin: auto;
    top: 4%;
    right: 1%;
  }

  .style-seguimeEnRedes {
    width: 100%;
    font-size: 2.85vw !important;
    top: 25%;
    right: 3%;
  }

  .container-logos {
    width: 90%;
    justify-content: space-between;
  }

  .container__datos-contactos .style-i {
    font-size: 4.5vw;
  }
}
