* {
  box-sizing: border-box;
}

.container-padre__Contactos {
  width: 100%;
  background: linear-gradient(to bottom, #2a2a2a 0%, #2a2a2a 50%, #5c5c5c 50%, #5c5c5c 100%);

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4vw;
  padding-bottom: 5vw;
  border-top: 0.2vw solid #ffb633;
}

.container-padre__Contactos::before {
  content: "";
  position: absolute;
  top: 0.4vw;
  left: 4.8vw;
  width: 90%;
  height: 1vw;
  display: flex;
  /* background-color: blue; */
  border-top: 0.2vw solid #ffb633;
}

.style-h1__title-contactos {
  font-weight: 700;
  font-size: 4vw;
  letter-spacing: 0.05vw;
  text-transform: uppercase;
  margin-bottom: 4% !important;
  /* margin-top: 3vw; */
  margin: auto;
}

.style-h1__title-contactos::before {
  content: "contactarme a través de:";
  position: absolute;
  background: linear-gradient(90deg, #ffb633, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-logos {
  max-width: 65vw;
  position: relative;
  height: auto;
  padding: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  margin: auto;
  border-bottom: 0.2em solid #838383;
  border-right: 0.2em solid #838383;
  border-radius: 2vw 0 2vw 0;
  box-shadow: 0.15em 0.3em 0.6em #2a2a2a;
  margin-bottom: 3vw;
}

.container-logos .card {
  position: relative;
  width: 13vw !important;
  height: 13vw;
  background-color: #fff !important;
  margin: 15px;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  border-radius: 50%;
  transition: 0.5s;
  overflow: hidden;
  transform-style: preserve-3d;
  border: 0.55vw solid #fff;
}


.container-logos .card::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  transition: all 0.5s;
  z-index: -1;
}


.linkedin-container::before {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1ca7ec),
    to(#016a9e)
  );
}

.mail-container::before {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#30a9ff),
    to(#006fbe)
  );
}

.github-container::before {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#343d47),
    to(#0c0c0c)
  );
}

.instagram-container::before {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.container-logos .card:hover::before {
  height: 100%;
  transition: all 0.5s;
}

.container-logos .card .style-i {
  line-height: 4vw;
  font-size: 6.5vw;
  color: #2a2a2a;
  text-align: center;
  border-radius: 50%;
  transition: all 0.5s;
}

.container-logos .card:hover .style-i {
  transform: rotateY(360deg);
  transition: all 0.5s;
  color: #fff;
}

.container-whatsapp,
.whatsapp-container {
  position: relative;
  bottom: 0.5vw;
}

.container-whatsapp {
  width: 3.2vw;
  height: 3.2vw;
  border-radius: 40%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#83ff8f),
    to(#248f34)
  );
  box-shadow: 0.1em 0.15em 0.2em #333;
  
  margin-top: 0.65vw !important;
  display: flex;
  flex-direction: row-reverse;
  margin-left: 2vw;
  display: grid;
  place-items: center;
}

.container-whatsapp:hover {
  transition-duration: 0.3s;
  transform: scale(1.05);
}

.whatsapp-container {
  position: relative;
  top: 0vw;
}

.whatsapp-container .style-i {
  font-size: 2.5vw;
  color: #fff;
}

.container__site-footer {
  width: 100%;
  height: 5vw;
  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  position: relative;
  top: 5vw;
  padding-top: 0.3vw;
}

.container-mail,
.container-datos__siteFooter,
.style-button__return,
.style__text-desarrollador {
  position: relative;
}

.container-datos__siteFooter {
  margin-left: 34%;
  display: flex;
  justify-content: space-between;
}

.container__site-footer img {
  width: 3.5vw;
  height: 2.2vw;
}

.style__text-desarrollador {
  color: #ffffff;
  font-size: 1vw;
  font-weight: 300 !important;
  letter-spacing: 1px;
  top: 0.15vw;
}
