@media screen and (max-width: 800px) {
  .container-padre__Contactos {
    width: 100%;
    height: auto;
    background-color: #aaaaaa;
    padding-top: 1.5vw;
  }

  .barras-separadoras {
    position: relative;
    bottom: 1.5vw;
  }
  
  .barras-separadoras article {
    width: 4.2vw;
    height: 15.2vw;
    bottom: 4.3vw;
  }

  .container-logos {
    width: 85%;
    height: auto;
    padding: 2vw;
    margin-bottom: 8vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 0.2vw;
    margin-top: 5vw;
  }

  .container-logos .card {
    width: 30vw !important;
    height: 30vw;
    border: 0.9vw solid #fff;
  }

  .instagram-container, .mail-container {
    margin-top: 2vw !important;
  }
  
  .container-logos .card .style-i {
    line-height: 4vw;
    font-size: 13vw;
    color: #2a2a2a;
    text-align: center;
    border-radius: 50%;
  }

  .style-h1__title-contactos {
    font-size: 6vw;
    margin-bottom: 0% !important;
    margin-top: 12vw !important;
  }

  .mail-container, .instagram-container {
    margin-top: 6vw; 
  }

  .container__site-footer {
    height: 12vw;
  }

  .container-mail,
  .container-datos__siteFooter,
  .style-button__return,
  .style__text-desarrollador {
    position: relative;
  }

  .container__site-footer {
    width: 100% !important;
    height: 12vw;
    background-color: #2a2a2a;
    display: flex;
  }

  .container__site-footer,
  .container-datos__siteFooter,
  .style-button__return,
  .style__text-desarrollador,
  img {
    position: relative;
  }

  .container-datos__siteFooter {
    width: 63vw;
    height: 7.5vw;
    margin-left: 7.5%;
  }

  .container__site-footer img {
    width: 8vw;
    height: 4.4vw;
    top: 1vw;
  }

  .style-button__return {
    width: 6.5vw;
    height: 6.5vw;
    font-size: 4vw;
    left: 5vw;
    cursor: pointer;
    transition: all 0.5s;
  }

  .arrow-up {
    font-size: 4vw;
  }

  .style-button__return:hover {
    color: #fff;
    transform: scale(1.1);
  }

  .style__text-desarrollador {
    color: #fff;
    font-size: 2.6vw;
    font-weight: 300 !important;
    margin: auto;
  }

  .container-whatsapp {
    width: 8vw;
    height: 8vw;
    border-radius: 40%;
    margin-top: 1.6% !important;
    margin-left: 3.5vw;
  }

  .whatsapp-container {
    position: relative;
    top: 0.2vw;
    display: flex !important ;
  }

  .whatsapp-container .style-i {
    font-size: 6.5vw;
    color: #fff;
  }
}


@media only screen and (min-width: 375px) and (max-width: 800px) {
  .container-logos {
    max-width: 100vw;
  }

  .container-whatsapp {
    width: 6.5vw;
    height: 6.5vw;
    margin-top: 1.6% !important;
    margin-right: 1% !important;
  }

  .whatsapp-container {
    position: relative;
    top: 0.1vw;
  }

  .whatsapp-container .style-i {
    font-size: 6vw;
    color: #fff;
  }
}

@media only screen and (min-width: 320px) and (max-width: 374px) {

  .container-logos {
    max-width: 70vw;
    margin-top: 15vw;
  }

  .container-logos .card {
    width: 55vw !important;
    height: 42vw;
  }

  .container-logos .card:hover .title-logo {
    font-size: 5vw;
    margin-top: 2vw;
  }
}

@media only screen and (min-width: 320px) and (max-width: 400px) {
  .barras-separadoras article {
    width: 5vw;
    height: 16vw;
    bottom: 4.5vw;
  }

  .style-h1__title-contactos {
    font-size: 10vw;
    margin-bottom: 0 !important;
    margin-top: 15vw !important;
  }

  .style-h1__title-contactos::before {
    font-size: 10vw;
    left: 0;
  }

  .container-logos {
    margin-top: 7.5vw;
  }

  .container-logos .card {
    width: 50vw !important;
    height: 50vw;
    border: 1.5vw solid #fff;
  }

  .container-logos .card .style-i {
    font-size: 25vw;
  }
}