* {
  box-sizing: border-box;
}

.container-padre__Contactos {
  width: 100%;
  height: auto;
  background-color: #5c5c5c;
  position: relative;
  padding-top: 1vw;
}

.container-logos {
  width: 100%;
  height: 27vw;
  display: flex;
  position: relative;
  top: 0.2vw;
}

.logo-redSocial__container {
  width: 25vw !important;
  height: auto;
  height: auto !important;
  display: grid;
  place-items: center;
}

.logo-redSocial__container .style-i {
  font-size: 2.7vw;
  color: #ffffff;
  position: relative;
}

.title-logo {
  font-size: 0;
  color: #fff;
  position: absolute;
}

.logo-redSocial__container:hover .title-logo {
  /* position: static; */
  font-size: 1.1vw;
  top: 12.8vw;
  margin-left: 1vw;
  transition: all 0.5s;
}

.logo-redSocial__container:hover .style-i {
  right: 1.5vw;
  top: 0.1vw;
  font-size: 2vw;
  transition: all 0.5s;
}

.style-h1__title-contactos {
  font-weight: 700;
  font-size: 2.3vw;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 1px 2px 3px black;
  margin-bottom: 3%;
}

.container__site-footer {
  width: 100%;
  height: 5vw;
  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  margin-top: 0.2%;
  padding-top: 0.3vw;
}

.container-mail,
.container-datos__siteFooter,
.style-button__return,
.style__text-desarrollador {
  position: relative;
}

.container-datos__siteFooter {
  /* width: 33%; */
  margin-left: 36%;
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}

.container__site-footer img {
  width: 3.5vw;
  height: 2.2vw;
}

.style-button__return {
  width: 2.7vw;
  height: 2.7vw;
  border-radius: 50%;
  box-shadow: 0.05vw 0.1vw 0.15vw #000000;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#808080),
    to(#414141)
  );
  color: #ffffff !important;
  left: 3.26vw;
  bottom: 0.15vw;
  cursor: pointer;
  transition: all 0.3s;
  display: grid;
  place-items: center;
}

.arrow-up {
  font-size: 1.8vw;
}

.style-button__return:hover {
  color: #fff;
  transform: scale(1.1);
}

.style__text-desarrollador {
  color: #ffffff;
  font-size: 1.1vw;
  font-weight: 300 !important;
  letter-spacing: 1px;
  top: 0.15vw;
}

.container-whatsapp,
.whatsapp-container,
.style__text-hazme-click {
  position: relative;
  bottom: 0.5vw;
}

.container-whatsapp {
  width: 3.2vw;
  height: 3.2vw;
  border-radius: 40%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#83ff8f),
    to(#248f34)
  );
  margin-top: 1% !important;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 3.7% !important;
  margin: auto;
  display: grid;
  place-items: center;
}

.container-whatsapp:hover {
  transition-duration: 0.3s;
  transform: scale(1.05);
}

.whatsapp-container {
  position: relative;
  top: 0vw;
}

.whatsapp-container .style-i {
  font-size: 2.5vw;
  color: #fff;
}

.mail-container {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#30a9ff),
    to(#006fbe)
  );
}

.github-container {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#343d47),
    to(#0c0c0c)
  );
}

.linkedin-container {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1ca7ec),
    to(#016a9e)
  );
}

.instagram-container {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
