* {
    box-sizing: border-box;
}

.container-padre_conocimientos {
    width: 100%;
    height: 45vw;
    background-image: url("https://www.ionos.mx/digitalguide/fileadmin/DigitalGuide/Teaser/web-development-t.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    padding-top: 74px;
    overflow: hidden;
}

.title-lineaHorizontal, .style-h1-title, 
.style-h3-subtitulo, .column-general, 
.container-tech, .style-text__nivel, 
.container-nivel, .style-logo-tech, 
.container__logo-nivel {
    position: relative;
}

.title-lineaHorizontal {
    background-color: #FFB633 !important;
    width: 12% !important;
    height: 3.1px !important;
    border-radius: 5px;
    margin: auto;
    right: 7.1%;
    bottom: 0.5%;
}

.card__title, .skills__tech, .style-h1-title, .style-h3-subtitulo {
    color: #fff;
}

.style-h1-title {
    font-weight: 700;
    font-size: 3.5vw;
    letter-spacing: 2px;
}

.style-h3-subtitulo {
    text-transform: uppercase;
    font-size: 25px;
    top: 35px;
    letter-spacing: 3px;
}

.column-general {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    top: 95px;
    align-items: start;
}

.container-tech {
    width: auto;
    height: 18vw;
    background-color: #2a2a2a;
    box-shadow: 0 0 10px #000;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.style-logo-tech {
    width: 6.5vw;
    height: 6.5vw;
    margin: 25px 15px;
}

.card__title {
    font-weight: 600;
    position: relative;
    top: 10px;
}

.container-frontend, .container-design, 
.container-backend {
    display: flex;
}

.container__logo-nivel {
    width: auto;
    height: 13.5vw;
    display: flex;
    flex-direction: column;
}

.container-nivel {
    width: 80%;
    height: auto;
    border-radius: 7px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.style-text__nivel {
    color: #fff;
    font-size: 1.3vw;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    top: 3px;
}

.style-circle {
    width: 1.1vw;
    height: 1.1vw;
    border-radius: 50%;
}

.n-bajo .style-circle {
    background-color: #E22A47;
}

.n-bajo {
    border: 2px solid #E22A47;
}


.n-medio .style-circle {
    background-color: #DCB64B;
}

.n-medio {
    border: 2px solid #DCB64B;
}


.n-alto .style-circle {
    background-color: #43A52F;
}

.n-alto {
    border: 2px solid #43A52F;
}


@media screen and (max-width: 800px) {
    .container-padre_conocimientos {
        background-image: none;
        background-attachment: unset;
        height: 160vw;
        padding-top: 10%;
        background-color: #242424;
    }

    .style-h1-title {
        font-size: 8vw;
    }
    
    .title-lineaHorizontal {
        width: 25% !important;
        right: 17.8%;
    }
    
    .style-h3-subtitulo {
        font-size: 3.2vw;
        top: 4%;
    }
    
    .column-general {
        flex-direction: column;
        top: 40px;
    }
    
    .container-tech {
        width: 75%;
        height: 35vw;
        background-color: #474747;
        margin-top: 3%;
        left: 12.7%;
    }
    
    .style-logo-tech {
        width: 13vw;
        height: 13vw;
        margin: 20px 15px;
        bottom: 21%;
    }
    
    .card__title {
        font-weight: 600;
        position: relative;
        top: 10px;
    }
    
    .container-frontend, .container-design, 
    .container-backend {
        display: flex;
        justify-content: space-around;
    }
    
    .container__logo-nivel {
        height: 22vw;
        top: 15%;
    }

    .container-nivel {
        bottom: 25%;
    }
    
    .style-text__nivel {
        font-size: 2.8vw;
        top: 3.5px;
    }
    
    .style-circle {
        width: 9px;
        height: 9px;
    }
}