@media only screen and (max-width: 800px) {
  .container-padre__proyectos {
    background-color: #2a2a2a;
    padding-top: 3.5rem;
    padding-bottom: 3rem;
  }
  
  .style-h1__proyectos {
    font-size: 3rem;
  }
  
  .container-subtitleProyectos,
  .container-data-experiencia {
    width: 95%;
  }

  .container-subtitleProyectos {
    position: relative;
    top: 1rem;
  }
  
  .container-data-experiencia {
    margin-top: -1.8rem;
  }
  
  .title-experiencia {
    font-size: 2.1rem;
  }
  
  .text-subtitulo__proyectos,
  .text-experiencia {  
    font-size: 1.15rem;
  }
  
  .container-proyectos {
    /* width: 80vw; */
    height: auto;
    margin: auto;
    margin-top: 1vw;
    padding-bottom: 3vw;
    display: flex;
    flex-direction: column;
    /* background-color: violet; */
  }
  
  .container-project {
    position: relative;
    width: 100%;
    height: auto;
    /* background-color: blue; */
    margin: auto;
    margin-top: 3vw;
    padding-bottom: 5rem;
    flex-direction: column-reverse;
  }
  
  .num-proyecto {
    font-size: 4rem;
  }
  
  .container-project span {
    z-index: 1;
  }

  
  .container-text-tech {
    width: auto !important;
    height: auto !important;
  }
  
  .container-proyectos > .container-project > span {
    width: 95%;
    margin-right: 0;
    margin-top: 1.6rem;
  }
  
  .container-proyectos > .container-project > span::before {
    display: none;
  }
  
  
  .container-proyectos > .container-project > span::after {
    display: none;
  }
  
  .style-image__product {
    width: 100%;
    height: 100%;
    z-index: 1;
    border: 0.4rem solid #ffb633;
  }
  
  .container-tech {
    width: 90%!important;
    height: auto !important;
    display: flex;
    align-items: flex-start;
    margin-left: 0;
    /* background-color: red; */
  }
  
  .container-description > .text-description {
    font-size: 1.3rem;
  }
  
  .title-project {
    font-size: 1.9rem;
  }
  
  .container__icons-techs {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
    /* background-color: green; */
  }
  
  .container__icons-techs img {
    width: 3rem;
    height: 3rem;
  }
  
  .icon-js,
  .icon-react,
  .icon-responsive {
    width: 2.7rem !important;
    height: 2.7rem !important;
  }
  
  .container-ver a {
    font-size: 1.35rem;
    text-shadow: 0.05rem 0.1rem 0.15rem #2a2a2a;
    box-shadow: 0.05rem 0.1rem 0.15rem #2a2a2a;
    padding: 0.2rem 1.5rem 0.2rem 1.5rem;
    border: 0.1rem solid #ffb633;
    border-radius: 0.4rem;
  }

  .container-ver {
    width: 13.5rem !important;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start !important; */
    /* margin-left: 0 !important; */
    margin-top: 1rem !important;
    /* background-color: red; */
  }
  
  .container-ver a::before {
    content: "";
    position: absolute;
    left: -1%;
    width: 0;
    height: 2.5rem;
    border-radius: 0.4rem;
    z-index: -1;
    background-color: #ffb633;
    transition-duration: 0.5s;
  }
  
  .container-ver a:hover::before {
    cursor: pointer;
    transition-duration: 0.5s;
    width: 103%;
    color: #fff !important;
  }
  
  .carousel {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 350px) {
  .container__icons-techs img {
    width: 2.7rem;
    height: 2.7rem;
  }
  
  .icon-js,
  .icon-react,
  .icon-responsive {
    width: 2.4rem !important;
    height: 2.4rem !important;
  }
}