* {
  box-sizing: border-box;
  text-decoration: none !important;
}

.container-padre__proyectos {
  width: 100%;
  height: auto;
  background-color: #2a2a2a;
  padding-top: 6vw;
  padding-bottom: 4vw;
  overflow: hidden !important;
}

.style-h1__proyectos,
.style-h3-subtitulo__proyectos {
  font-family: 'Anton', sans-serif;
  padding: 0.6vw;
  position: relative;
}

.style-h1__proyectos {
  font-weight: 700;
  font-size: 4vw;
  letter-spacing: 0.1vw;
  text-transform: uppercase;
}

.style-h1__proyectos::before {
  content: "Mis proyectos";
  position: absolute;
  background: linear-gradient(90deg, #ffb633, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.style-h3-subtitulo__proyectos {
  text-shadow: 1px 2px 3px #000000;
}

.container-subtitleProyectos {
  width: 50%;
  color: #bdbdbd;
  text-transform: uppercase;
}

.container-data-experiencia {
  width: 60%;
  color: #bdbdbd;
}

.container-subtitleProyectos,
.container-data-experiencia {
  display: grid;
  place-items: center;
  font-family: "Inter", sans-serif;
  margin: auto;
  margin-top: 2.5vw;
}

.container-data-experiencia {
  margin-top: 4vw;
}

.title-experiencia {
  font-weight: bold;
  font-size: 2.5vw;
}

.text-experiencia {
  width: 100%;
  font-weight: 400;
}

.text-subtitulo__proyectos,
.text-experiencia {  
  text-align: center !important;
  line-height: 1.6;
  font-size: 1.5vw;
}

.text-subtitulo__proyectos {
  font-weight: 700;
}

.container-proyectos {
  height: auto;
  margin: auto;
  margin-top: 1vw;
  padding-bottom: 3vw;
  display: flex;
  flex-direction: column;
}

.container-project {
  position: relative;
  width: 100%;
  height: 28vw;
  margin: auto;
  margin-top: 3vw;
  padding-bottom: 2vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

/* .container-project::before {
  content: "";
  position: absolute;
  width: 9.7vw;
  height: 32vw;
  background: linear-gradient(#fff, #ffb633);
  animation: animate 4s linear infinite;
} */

/* .container-project::after {
  content: "";
  position: absolute;
  inset: 4px;
  background-color: #5c5c5c;
  border-radius: 16px;
  transition: all 0.5s;
} */

/* .container-project:hover::after {
  background-color: #464646;
  transition: all 0.5s;
} */

.container-project span {
  z-index: 1;
}

/* .container-project span::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0 !important;
  font-size: 0;
  font-family: 'Anton', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0.05vw 0.1vw 0.15vw #000;
  letter-spacing: 0.1vw;
  color: #fff;
  width: 0;
  height: 0;
  background-color: rgba(255, 182, 51) !important;
  display: grid;
  place-items: center;
  transition: all 0.5s;
} */

/* .container-project:hover span::before {
  width: 100%;
  height: 4vw;
  border-radius: 16px 16px 0 0;
  top: 0;
  font-size: 1.5vw;
  transition: all 0.5s;
  transform: rotateY(360deg);
  z-index: 1 !important;
  box-shadow: 0 0 0.15vw #000,
              0 0 0.3vw #000,
              0 0 0.6vw #000,
              0 0 0.9vw #000,
              0 0 1.2vw #000,
              0 0 1.5vw #000;
} */

/* .container-project:hover .span-APImeli::before {
  content: "6° y último proyecto";
}

.container-project:hover .span-portafolio::before {
  content: "5° proyecto";
}

.container-project:hover .span-responsiveCRUDclinica::before {
  content: "4° proyecto";
}

.container-project:hover .span-responsiveDestinoARG::before {
  content: "3° proyecto";
}

.container-project:hover .span-desktopMaquetado::before {
  content: "2° proyecto";
}

.container-project:hover .span-desktopMeli::before {
  content: "1° proyecto";
} */

/* @keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */

.container-text-tech {
  width: auto !important;
  height: auto !important;
}

.container-proyectos > .container-project > span {
  width: 45%;
  height: 88%;
  display: flex;
  align-items: center;
  margin-right: 3.4vw;
  margin-top: 1.9vw;
  /* margin-bottom: 1.5vw; */
}

.container-proyectos > .container-project > span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 87%;
  margin-right: 2.1vw;
  margin-top: 1.15vw;
  border-top: 0.8vw double #ffb633;
  border-right: 0.8vw double #ffb633;
  /* background-color: blue; */
}


.container-proyectos > .container-project > span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 51.4%;
  width: 20%;
  height: 87%;
  margin-left: -1.15vw !important;
  margin-top: 2.3vw;
  border-bottom: 0.8vw double #ffb633;
  border-left: 0.8vw double #ffb633;
  /* background-color: blue; */
}

.style-image__product {
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 0.4rem solid #ffb633;
}

.container__text-tech__project-1,
.container__text-tech__project-2,
.container__text-tech__project-3,
.container__text-tech__project-4,
.container__text-tech__project-5,
.container__text-tech__project-6 {
  width: 90%;
  height: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1 !important;
}

.container-tech {
  width: 45%!important;
  height: auto !important;
  display: flex;
  align-items: flex-start;
  margin-left: 2vw;
  /* background-color: red; */
}

.num-proyecto {
  background: linear-gradient(#ffb633, #fff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 4.2vw;
  font-weight: 700;
  position: relative;
  top: 1.2vw;
}

.container-description {
  width: 100%;
  padding: 0.3vw 0 0.3vw 0;
  text-align: left;
  /* background-color: green; */
}

.container-description > .text-description {
  font-family: "Lato", sans-serif;
  font-size: 1.6vw;
  font-weight: 500;
  line-height: 1.1;
  color: #6d6d6d;
}

.title-project {
  font-size: 2.9vw;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  transition-delay: 0.3s;
}

.style-span__text-tech {
  width: auto !important;
  height: auto !important;
  padding: 0 2%;
  margin-bottom: 3%;
  font-size: 1vw;
  font-weight: 600;
  color: rgb(192, 192, 192);
  border-radius: 5px;
  transition-delay: 0.3s;
}

.container-ver {
  width: 35% !important;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5vw;
}

.container__icons-techs {
  width: 35%;
  height: auto;
}

.container__iconTechs-NoResponsive {
  width: 70%;
  height: auto;
}

.container__icons-techs,
.container__iconTechs-NoResponsive {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0.5vw;
}

.container__icons-techs img,
.container__iconTechs-NoResponsive img {
  width: 2.5vw;
  height: 2.5vw;
}

.icon-js,
.icon-react,
.icon-responsive {
  width: 2.25vw !important;
  height: 2.25vw !important;
}

.container-ver a {
  font-family: 'anton', sans-serif;
  font-size: 1.3vw;
  color: #fff !important;
  letter-spacing: 1px;
  text-shadow: 0.05em 0.1em 0.15em #2a2a2a;
  box-shadow: 0.05em 0.1em 0.15em #2a2a2a;
  display: grid;
  place-items: center;
  /* width: 4vw; */
  /* height: 2.2vw; */
  padding: 0.2vw 1.5vw 0.2vw 1.5vw;
  border: 0.1em solid #ffb633;
  border-radius: 0.5vw;
}

.container-ver a::before {
  content: "";
  position: absolute;
  left: -1%;
  width: 0;
  height: 2.5vw;
  border-radius: 5px;
  z-index: -1;
  background-color: #ffb633;
  transition-duration: 0.5s;
}

.container-ver a:hover::before {
  cursor: pointer;
  transition-duration: 0.5s;
  width: 103%;
  color: #fff !important;
}

.carousel {
  display: none;
}
