@media screen and (max-width: 768px) {
  .container-padre__proyectos {
    height: 200vw !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff !important;
  }

  .container-data-experiencia,
.container-subtitleProyectos {
  margin: auto;
}

.container-subtitleProyectos {
 width: 85%;
 margin-top: 4vw;
}

.container-data-experiencia {
  width: 95%;
  margin-top: 8vw;
}

.title-practica,
.title-experiencia {
  font-weight: bold;
  font-size: 4vw;
}

.title-practica {
  color: #fff;
}

.title-experiencia {
  color: #000;
}

.text-experiencia,
.text-subtitulo__proyectos {
  width: 100%;
  font-size: 3.2vw;
  font-weight: 300 !important;
  text-align: center !important;
  line-height: 1.6;
  /* background-color: green; */
}

.text-experiencia {
  color: #000;
}

.text-subtitulo__proyectos {
  color: #fff;
}

  .container-project-mobile {
    width: 98vw !important;
    height: 100vw !important;
    position: relative !important;
    overflow: hidden !important;
    border-radius: 20px !important;
    position: relative;
    right: 1.7vw;
    padding-top: 7.5vw;
  }
  
  .container-project-mobile::before {
    content: "" !important;
    position: absolute !important;
    width: 40vw !important;
    height: 150vw !important;
    background: linear-gradient(#fff, #ffb633) !important;
    animation: animate 4s linear infinite !important;
    top: -27vw;
    right: 30vw;
  }
  
  .container-project-mobile::after {
    content: "" !important;
    position: absolute !important;
    inset: 4px !important;
    background-image: linear-gradient(
    to bottom,
    #5c5c5c,
    #5c5c5c,
    #585858,
    #585858,
    #585858
  );
    border-radius: 16px !important;
  }
  
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


  .style-h1__proyectos {
    font-size: 8vw;
    margin-top: 9%;
    letter-spacing: 0.25vw;
  }

  .style-h3-subtitulo__proyectos {
    width: 85%;
    font-size: 4vw !important;
    position: relative;
    top: 0vw;
    line-height: 5.5vw;
  }


  .container-proyectos {
    display: none;
  }

  .container-ver a {
    font-size: 4vw;
    width: 17vw;
    height: 7.2vw;
    margin-top: 5vw;
  }
  
  .container-ver a::before {
    height: 7.2vw;
  }

  .style-a__project .style-image__product {
    width: 85vw !important;
    height: 50vw !important;
    margin: auto;
  }

  .carousel {
    display: block;
    width: 95% !important;
    margin: auto;
  }

  .carousel-item {
    width: 100%;
    height: 350px;
  }

  .carousel-inner {
    width: auto;
    height: auto;
    overflow: visible;
  }

  .style-a__project {
    display: flex;
    flex-direction: column;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 10vw !important;
    height: 10vw !important;
    border-radius: 50%;
    margin-top: 60%;
    background-color: #000000;
    opacity: 0.5 !important;
    z-index: 0 !important;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 70% !important;
    z-index: 1;
  }

  .carousel-control-prev::before,
  .carousel-control-next::before {
    content: "";
    position: absolute;
    /* bottom: 0; */
    width: 0;
    height: 0;
    border-radius: 50%;
  }

  .carousel-control-prev:hover::before,
  .carousel-control-next:hover::before {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    background-color: #7c7c7c;
    color: #fff;
    opacity: 2 !important;
  }

  .container__text-tech__project-1,
  .container__text-tech__project-2,
  .container__text-tech__project-3,
  .container__text-tech__project-4,
  .container__text-tech__project-5,
  .container__text-tech__project-6 {
    height: auto;
  }

  .container-tech {
    height: auto !important;
    margin-top: 5vw;
  }

  .title-project {
    font-size: 4.5vw !important;
  }

  .style-span__text-tech {
    font-size: 3.7vw !important;
  }

  .container__icons-techs,
  .container__iconTechs-NoResponsive {
    margin-bottom: 0;
    margin-top: 1vw;
  }

  .container__icons-techs img,
  .container__iconTechs-NoResponsive img {
    width: 9vw;
    height: 9vw;
  }

  .icon-js,
  .icon-react,
  .icon-responsive {
    width: 8.15vw !important;
    height: 8.15vw !important;
  }

  .verDemo,
  .verRepo {
    padding: 1.3vw !important;
    padding-top: 1vw !important;
    margin-top: 3vw;
    font-size: 3.5vw !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .carousel-inner {
    width: 100%;
    height: 450px;
    margin-top: 10vw;
    overflow: visible;
  }

  .style-h3-subtitulo__proyectos {
    font-size: 3.2vw;
    position: relative;
    top: 0;
  }

  .container-project-mobile {
    margin-top: -5vw !important;
  }

  .container-data-experiencia {
    margin-top: -15vw;
  }
}

@media only screen and (min-width: 320px) and (max-width: 320px) {
  .container-data-experiencia {
    margin-top: -3vw;
  }
}

@media only screen and (min-width: 320px) and (max-width: 426px) {
  .container-padre__proyectos {
    /* height: 178vw !important; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff !important;
    overflow: hidden;
    padding-top: 4vw !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 800px) {
  .container-padre__proyectos {
    height: 140vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2a2a2a;
    /* margin-top: 5vw; */
    /* padding-bottom: 20vw !important; */
    overflow: hidden;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 7vw !important;
    height: 7vw !important;
  }

  .container-project-mobile {
    height: 92vw !important;
    margin-top: 23vw;
    padding-top: 3.7vw;
  }

  .style-h3-subtitulo__proyectos {
    font-size: 3.2vw;
    position: relative;
    top: 0vw;
  }

  .carousel-inner {
    position: relative;
    bottom: 16vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
  .container-padre__proyectos {
    padding-top: 12vw !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 800px) {
  .style-h1__proyectos {
    margin-top: 5%;
  }
}