* {
  box-sizing: border-box;
  text-decoration: none !important;
}

.container-padre__proyectos {
  width: 100%;
  height: 48vw;
  background-image: linear-gradient(
    to bottom,
    #2a2a2a,
    #363636,
    #424242,
    #4f4f4f,
    #5c5c5c
  );
  padding-top: 5vw;
  /* overflow: hidden; */
}

.style-h1__proyectos,
.style-h3-subtitulo__proyectos {
  position: relative;
  color: #fff;
}

.style-h1__proyectos {
  font-weight: 700;
  font-size: 3.5vw;
  letter-spacing: 2px;
}

.title-proyectos__lineaHorizontal {
  background-color: #ffb633 !important;
  width: 8% !important;
  height: 0.2vw !important;
  border-radius: 5px;
  margin: auto;
  position: relative;
  right: 4.5vw;
  top: -0.3vw;
}

.style-h1__proyectos,
.style-h3-subtitulo__proyectos {
  text-shadow: 1px 2px 3px #000000;
}

.style-h3-subtitulo__proyectos {
  text-transform: uppercase;
  font-size: 1.6vw;
  margin-top: 4vw;
  letter-spacing: 3px;
}

.container-proyectos {
  width: 95vw;
  height: auto;
  margin: auto;
  margin-top: 5vw;
  display: flex;
  /* background-color: red !important; */
  /* box-shadow: 1px 2px 9px #000000; */
}

.container-project {
  width: 21vw;
  height: 24vw;
  border-radius: 10px;
  margin: auto;
  padding-top: 0.5vw;
  background-color: #595959;
}

.container-project:hover {
  box-shadow: 2px 3px 4px #2a2a2a;
  transition: all 0.3s !important;
}

.container-text-tech {
  width: auto !important;
  height: auto !important;
}

.style-image__product {
  width: 20vw;
  height: 12vw;
}

.style-image__product:hover {
  transform: scale(1.05);
  transition: all 0.5s;
  cursor: pointer;
}

.container__text-tech__project-1,
.container__text-tech__project-2,
.container__text-tech__project-3,
.container__text-tech__project-4 {
  width: 90%;
  height: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10 !important;
}

.container-tech {
  width: auto !important;
  height: 8.5vw !important;
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
  /* background-color: blue; */
}

.title-project {
  width: auto;
  height: auto;
  padding: 2.5%;
  background-color: #2a2a2a;
  font-size: 1.5vw;
  font-weight: 600;
  text-shadow: 1px 2px 3px #000;
  color: #ffffff;
  border-style: solid;
  border-right: 3px;
  border-top: 3px;
  border-color: #000000;
  border-radius: 5px;
  /* border-radius: 5px; */
  /* box-shadow: 0 0 7px #000; */
  transition-delay: 0.3s;
}

.style-span__text-tech {
  width: auto !important;
  height: auto !important;
  padding: 0 2%;
  margin-bottom: 3%;
  font-size: 1vw;
  font-weight: 600;
  color: rgb(192, 192, 192);
  border-radius: 5px;
  /* box-shadow: 0 0 7px #000; */
  transition-delay: 0.3s;
}

.container-ver {
  width: 100% !important;
  display: flex;
  justify-content: space-evenly;
  /* background-color: green; */
}

.verProyecto,
.verCodigo {
  padding: 0.5vw;
  font-size: 1vw;
  text-shadow: 1px 2px 3px #000000;
  color: #ffb633;
  border: 2px solid #fbb633;
  border-radius: 50px;
  font-weight: 600;
}

.verProyecto:hover,
.verCodigo:hover {
  transition-duration: 0.5s;
  background-color: #ffb633;
  border: 2px solid #ffb633;
  color: #fff;
  box-shadow: 1px 2px 3px #000000;
  cursor: pointer !important;
}

.carousel {
  display: none;
}

/* .container-project {
  width: 21vw;
  height: 24vw;
  border-radius: 10px;
  margin: auto;
  padding-top: 0.5vw;
  background-color: #595959;
}

.container-project:hover {
  box-shadow: 2px 3px 4px #2a2a2a;
  transition: all 0.3s !important;
}

.container-text-tech {
  width: auto !important;
  height: auto !important;
}

.style-image__product {
  width: 20vw;
  height: 12vw;
}

.style-image__product:hover {
  transform: scale(1.05);
  transition: all 0.5s;
  cursor: pointer;
} */
