* {
  box-sizing: border-box;
}

.container-padre_conocimientos {
  width: 100%;
  height: 53vw;
  /* background-image: url("../../img/fondoConocimientos.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
  padding-top: 6vw !important; */
}

.container-padre_conocimientos::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 53vw;
  background-image: url("../../img/fondoConocimientos.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100%;
  background-size: cover;
}

.marco-separator-conocimientos {
  width: 100%;
  height: 6vw;
  margin-top: -2.5vw !important;
  position: relative;
  bottom: 0vw;
  clip-path: polygon(0 0, 0 0, 100% 0, 100% 100%, 0 34%, 0 24%);
  background-color: #5a5a5a;
  /* opacity: 0.2; */
}

.title-lineaHorizontal,
.style-h1-title,
.style-h3-subtitulo,
.column-general__tech,
.container-tech,
.style-text__nivel,
.container-nivel,
.style-logo-tech,
.container__logo-nivel {
  position: relative;
}

.card__title,
.skills__tech,
.style-h1-title,
.style-h3-subtitulo {
  color: #fff;
}

.style-h1-title {
  font-weight: 700;
  font-size: 3.5vw;
  letter-spacing: 2px;
  text-shadow: 1px 2px 3px black;
}

.style-h3-subtitulo {
  text-transform: uppercase;
  font-size: 1.6vw;
  margin-top: 3.5%;
  letter-spacing: 3px;
  text-shadow: 1px 2px 3px #000000;
}

.column-general__tech {
  width: 73%;
  height: auto;
  max-width: 1250px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3%;
  align-items: start;
  /* background-color: red; */
}

.container__logo-title-tech {
  width: 17vw;
  height: 9vw;
  border-radius: 5px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.container__logo-title-tech::before {
  content: "";
  position: absolute;
  /* width: 17vw;
  height: 9vw; */
  /* background-color: #ffffff; */
  border-radius: 5px;
  top: 0;
  /* opacity: 0.1; */
}

.image-title-tech__container:hover .card__title {
  text-shadow: 0.05vw 0.1vw 0.15vw #000000 !important;
  transition: all 0.5s !important;
}

.hidden {
  display: none !important;
}

.show {
  display: flex !important;
}

.style-logo-tech {
  width: 6.5vw;
  height: 6.5vw;
  transition-duration: 0.5s;
}

.style-logo-tech:hover {
  transform: rotate(10deg);
  transition-duration: 0.5s;
}

.card__title {
  font-size: 1.7vw;
  font-weight: 600;
  text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
}

.container__logo-title-tech:hover {
  /* border: 2px solid #ffb633; */
  /* border-radius: 5px; */
  transition-duration: 0.2s;
}

.style-text__title-tech {
  color: #fff;
  text-shadow: 1px 2px 3px #000;
  font-size: 1vw;
  font-weight: 600;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  position: relative;
}

@media only screen and (min-width: 2560px) {
  .column-general__tech {
    width: 100% !important;
    max-width: 2000px;
  }
}
