@media screen and (max-width: 800px) {
  .container-padre_conocimientos {
    width: 100%;
    height: 100%;
    background-image: url("../../img/fondoConocimientos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: unset;
    overflow: none;
    padding-top: 0vw;
  }

  .style-h1-title {
    margin-top: 17%;
    font-size: 8vw;
  }

  .title-lineaHorizontal {
    width: 27vw !important;
    height: 0.3vw !important;
    left: -15.2vw;
    top: -1.2vw;
  }

  .style-h3-subtitulo {
    display: none;
  }

  .column-general {
    width: 100% !important;
    height: 650px;
    margin-top: 8%;
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
  }

  .frontendIcon-container,
  .designIcon-container,
  .backendIcon-container {
    width: 175px;
    height: 175px;
  }

  .frontendIcon-container > img,
  .backendIcon-container > img {
    width: 165px;
    margin: auto;
  }

  .designIcon-container > img {
    width: 165px;
    height: 165px !important;
    margin: auto;
    position: relative;
    bottom: 0.5vw;
  }

  .container-tech {
    width: auto;
    height: 105px;
    padding: 0;
    /* padding-top: 3vw; */
    background-color: #474747;
    /* margin-top: 3%; */
  }

  .iconRefresh-container {
    width: 40px;
    margin-top: 15% !important;
    margin-bottom: 10% !important;
    margin: auto;
  }

  .iconRefresh-container > img {
    width: 40px !important;
  }

  .refreshAnimation {
    transform: rotate(360deg);
    transition: all 0.3s;
  }

  .style-logo-tech {
    width: 52px;
    height: 52px;
  }

  .card__title {
    font-size: 25px;
    font-weight: 600;
  }

  .frontendIcon-container .card__title,
  .backendIcon-container .card__title {
    position: relative;
    top: -2vw !important;
  }

  .designIcon-container .card__title {
    position: relative !important;
    top: -3vw !important;
  }

  .container-frontend {
    width: 328px;
  }

  .container-design,
  .container-backend,
  .container-frontend {
    display: flex;
    height: 110px;
  }

  .image-title-tech__container:hover .iconImage__tech {
    transform: scale(1.05);
  }

  .container__logo-title-tech {
    margin-top: 4vw;
  }

  .style-text__title-tech {
    font-size: 2.5vw;
  }

  .image-title-tech__container:hover .card__title {
    text-shadow: 0.15vw 0.2vw 0.25vw #000000 !important;
    transition: all 0.5s !important;
  }
}

@media only screen and (min-width: 668px) and (max-width: 768px) {
  .style-text__title-tech {
    font-size: 1.5vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
  .container-padre_conocimientos {
    padding-bottom: 5vw;
  }

  .title-lineaHorizontal {
    left: -15vw;
    top: -0.3vw;
  }

  .container-frontend .style-logo-tech {
    margin: 2vw 1.95vw !important;
    bottom: 2vw !important;
  }

  .container-design .style-logo-tech {
    margin: 3.7vw 17px !important;
    bottom: 3vw !important;
  }

  .container-backend .style-logo-tech {
    margin: 4.3vw 17px !important;
    bottom: 3.3vw !important;
  }

  .designIcon-container {
    padding-bottom: 0.3% !important;
  }

  .designIcon-container .card__title {
    top: -2vw !important;
  }

  .container__logo-title-tech {
    margin-top: 6vw;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-frontend .style-logo-tech {
    margin: 1vw 3.6vw;
    bottom: 0.7vw;
  }

  .container-design .style-logo-tech,
  .container-backend .style-logo-tech {
    margin: 3.5vw 17px;
    bottom: 2.5vw;
  }
}

@media only screen and (max-width: 320px) {
  .container-frontend .style-logo-tech {
    margin: -0.5vw 3.5vw;
    top: 0.5vw;
  }

  .container-tech {
    width: auto;
  }

  .container-frontend {
    width: 300px;
  }

  .style-text__title-tech {
    font-size: 3vw;
  }
}

@media only screen and (min-width: 400px) and (max-width: 400px) {
  .container-frontend .style-logo-tech {
    margin: 2.5vw 3.7vw;
    bottom: 2vw;
  }
}
