* {
  box-sizing: border-box;
}

.container-padre_conocimientos {
  width: 100%;
  height: 57.5vw;
  background-image: url("../../img/fondoConocimientos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
  overflow: hidden;
  padding-top: 5vw;
}

.title-lineaHorizontal,
.style-h1-title,
.style-h3-subtitulo,
.column-general__tech,
.container-tech,
.style-text__nivel,
.container-nivel,
.style-logo-tech,
.container__logo-nivel {
  position: relative;
}

.title-lineaHorizontal {
  background-color: #ffb633 !important;
  width: 10% !important;
  height: 0.2vw !important;
  border-radius: 5px;
  margin: auto;
  right: 7.9vw;
  top: -0.3vw;
}

.card__title,
.skills__tech,
.style-h1-title,
.style-h3-subtitulo {
  color: #fff;
}

.style-h1-title {
  font-weight: 700;
  font-size: 3.5vw;
  letter-spacing: 2px;
  text-shadow: 1px 2px 3px black;
}

.style-h3-subtitulo {
  text-transform: uppercase;
  font-size: 1.6vw;
  margin-top: 3.5%;
  letter-spacing: 3px;
  text-shadow: 1px 2px 3px #000000;
}

.column-general__tech {
  width: 73%;
  height: auto;
  max-width: 1250px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3%;
  align-items: start;
  /* background-color: red; */
}

.container__logo-title-tech {
  width: 17vw;
  height: 9vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  background-image: linear-gradient(
    to left bottom,
    #1f1f1f,
    #303030,
    #424242,
    #555555,
    #696969
  );
  box-shadow: 1px 2px 3px #000000;
  border-radius: 4px;
}

.image-title-tech__container:hover .iconImage__tech {
  transform: scale(1.1);
  transition: all 0.2s;
}

.image-title-tech__container:hover .card__title {
  text-shadow: 0.05vw 0.1vw 0.15vw #000000 !important;
  transition: all 0.5s !important;
}

.hidden {
  display: none !important;
}

.show {
  display: flex !important;
}

.style-logo-tech {
  width: 6.5vw;
  height: 6.5vw;
  transition-duration: 0.5s;
}

.style-logo-tech:hover {
  transform: rotate(10deg);
  transition-duration: 0.5s;
}

.card__title {
  font-size: 1.7vw;
  font-weight: 600;
  text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
}

.container__logo-title-tech:hover {
  border: 2px solid #ffb633;
  transition-duration: 0.2s;
}

.style-text__title-tech {
  color: #fff;
  text-shadow: 1px 2px 3px #000;
  font-size: 1vw;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
}

@media only screen and (min-width: 2560px) {
  .column-general__tech {
    width: 100% !important;
    max-width: 2000px;
  }
}
