@media screen and (max-width: 768px) {
  .container-padre_conocimientos {
    width: 100vw;
    height: 285vw;
    padding-top: 0vw !important;
    padding-bottom: 6vw;
    /* background-color: blue; */
  }

  .container-padre_conocimientos::before {
    height: 220vw;
    background-size: cover;
    background-position: inherit;
    margin-top: 20vw !important;
  }

  .style-h1-title {
    margin-top: 12%;
    font-size: 9vw;
    letter-spacing: 0.25vw;
    left: 22% !important;
  }

  .container-info-tecnologias {
    width: 100% !important;
    height: 206vw;
    display: flex;
    flex-direction: column;
    margin-top: 28vw;
    overflow: none;
  }
  
  .container__smartphone-videoMW {
    display: none;
  }

  .main-container-left, .main-container-right {
    width: auto;
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5vw;
    top: 0;
  }
  
  .main-container-left {
    margin-left: 0;
  }

  .main-container-right {
    margin-right: 0;
  }
  

  .container-tech-left, .container-tech-right {
    width: 90vw;
    height: auto !important;
    display: flex;
    justify-content: space-around;
  }

  .container-tech-left::before, .container-tech-right::before {
    content: "";
    width: 100%;
    height: 28vw;
    border-radius: 25px;
    background-color: #fff;
    opacity: .5;
  }

  .style-text__title-tech {
    font-size: 4vw;
  }
  
  .style-logo-tech {
    width: 21vw;
    height: 21vw;
    padding: 0vw;
  }
  
  .container__logo-title-tech {
      border-radius: 5px;
      display: grid;
      place-items: center;
      align-items: center;
      margin: 0;
  }

  .container-data-estudios {
    height: auto;
    display: grid;
    place-items: center;
    font-family: "Inter", sans-serif;
    margin-bottom: 5vw;
    /* background-color: orange; */
  }
  
  .title-estudios {
    font-weight: bold;
    font-size: 5vw;
    /* color: #fff; */
  }
  
  .text-estudios {
    width: 77%;
    font-size: 3vw;
    /* color: #fff; */
    /* background-color: white; */
  }
}