* {
  box-sizing: border-box;
}

.container-padre_sobreMi {
  background-image: linear-gradient(
    to bottom,
    #2a2a2a,
    #363636,
    #424242,
    #4f4f4f,
    #5c5c5c
  );
  width: 100%;
  height: 44vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container_small-picture_downloadCV,
.container-image,
.style-smallImage,
.container-text_sobreMi,
.text-hobbies,
.style-h1-sobreMi,
.style-span_linea-horizontal,
.style-p-sobreMi {
  position: relative;
}

.container_small-picture_downloadCV {
  width: auto;
  height: auto;
  margin-right: 3.5%;
  /* background-color: blue; */
}

.container-image {
  width: 19vw;
  height: 23vw;
  border: 0.7vw solid #ffb633;
  border-radius: 56% 34% 48% 25% / 74% 40% 99% 58%;
  /* position: relative; */
  right: 2%;
  top: 0;
}

.style-smallImage {
  width: 19vw;
  height: 23.8vw;
  /* border: 0.8vw solid #3a3a3a; */
  border-radius: 56% 34% 48% 25% / 74% 40% 99% 58%;
  left: 10%;
  bottom: 13%;
  padding-top: 2px;
  background-color: #ffffff;
}

/* .container-image, */
.style-smallImage {
  box-shadow: 1px 2px 3px #000000;
}

.container-text_sobreMi {
  width: 38vw;
  height: auto;
  left: 0.5%;
  margin-bottom: 8.5vw;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.style-h1-sobreMi {
  font-size: 3.5vw;
}

.title-hobbies {
  font-size: 2.5vw;
  margin-top: 1vw;
}

.style-h1-sobreMi,
.title-hobbies {
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 1px 2px 3px black;
  text-align: left;
}

.style-p-sobreMi,
.text-hobbies {
  color: rgb(192, 192, 192);
  text-align: left;
}

.style-p-sobreMi {
  margin-top: 0.8vw;
}

.style-button-descargarCV {
  width: 9.3vw;
  height: 3vw;
  margin: auto;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffb633),
    to(#b97900)
  );

  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.7s;
  font-size: 1vw;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  /* border-radius: 3px; */
  box-shadow: 1px 2px 3px #000000;
  margin-top: 1.5vw;
  position: relative;
  left: 18.2vw;
  border-radius: 56% 34% 48% 25% / 74% 40% 99% 58%;
}

.style-button-descargarCV:hover {
  color: #fff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#6d6d6d),
    to(#3a3a3a)
  );
  transition: all 0.7s;
  border-radius: 74% 40% 99% 58% / 56% 34% 48% 25%;
  /* animation: animarButton 1.5s alternate;
  animation-delay: 0.2s; */
}

/* @keyframes animarButton {
  0% {
    border-radius: 0 1.4vw 0 1.4vw;
  }

  50% {
    border-radius: 1.4vw 0 1.4vw 0;
  }

  100% {
    border-radius: 0 1.4vw 0 1.4vw;
  }
} */

@media only screen and (min-width: 2560px) {
  .style-p-sobreMi,
  .text-hobbies {
    font-size: 1.2vw;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  /* .container-text_sobreMi {
    width: 38vw;
    height: auto;
    left: 0.5%;
    margin-bottom: 8.5vw;
    display: flex;
    flex-direction: column;
  } */

  .container-padre_sobreMi {
    height: 50vw;
    padding-top: 3vw;
  }

  .container_small-picture_downloadCV {
    margin-right: 5%;
    /* background-color: blue; */
  }

  .container-image {
    width: 25vw;
    height: 30vw;
  }

  .style-smallImage {
    width: 25vw;
    height: 30vw;
  }
}

@media only screen and (min-width: 1301px) and (max-width: 2560px) {
  .container-padre_sobreMi {
    padding-top: 1.5vw;
  }
}
