@media screen and (max-width: 800px) {
  .container-padre_sobreMi {
    height: 128vw;
    padding-bottom: 1.5%;
    padding-left: 3%;
    justify-content: space-around;
  }

  .container_small-picture_downloadCV {
    width: 41.5vw;
    height: auto;
    margin-top: 15%;
    left: 3%;
    /* background-color: red; */
  }

  .container-image {
    width: 100%;
    height: 100%;
    border: none;
    top: 0;
  }

  .style-smallImage {
    width: 100%;
    height: 100%;
    /* border: 1.5vw solid #3a3a3a; */
    left: 0;
    bottom: 0;
  }

  .container-text_sobreMi {
    width: 48%;
    height: 90vw;
    left: 0% !important;
    bottom: 5%;
    /* background-color: blue; */
  }

  .container__title-text-hobbies {
    width: 100vw;
    height: auto !important;
    position: relative;
    right: 44vw;
    top: 12vw;
    /* background-color: green; */
  }

  .style-h1-sobreMi {
    font-size: 8vw;
    right: 45%;
    top: 5%;
  }

  .title-hobbies {
    font-size: 6vw;
    margin-top: 0;
    margin-left: 28.5vw;
  }

  .style-p-sobreMi {
    top: 11.5%;
  }

  .text-hobbies {
    bottom: 1vw !important;
  }

  .style-p-sobreMi,
  .text-hobbies {
    width: 85%;
    padding: 3px;
    font-size: 3vw;
    color: rgb(192, 192, 192);
    /* left: 8%; */
  }

  .container-text_sobreMi .style-span_linea-horizontal {
    width: 19.5vw !important;
    height: 0.3vw !important;
    background-color: #ffb633;
    border-radius: 25px;
    top: 3vw;
    left: -20.5vw !important;
  }

  .style-button-descargarCV {
    width: 23.7vw;
    height: 7.5vw;
    margin-top: 55% !important;
    position: relative;
    left: 20.8vw;
    top: 2.5vw;
    border-radius: 56% 34% 48% 25% / 74% 40% 99% 58%;
    font-size: 2.7vw;
    box-shadow: 0 0 10px #2a2a2a;
  }

  .style-button-descargarCV:hover {
    transition: all 0.3s;
    animation: animarButtonMobile 1.5s alternate;
  }
}

@media only screen and (min-width: 768px) and (max-width: 800px) {
  .container-text_sobreMi .style-span_linea-horizontal {
    top: 3.8vw;
    left: -18.8vw !important;
  }

  .style-p-sobreMi {
    top: 11vw !important;
  }

  .container__title-text-hobbies {
    top: 16vw;
    /* background-color: green; */
  }
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .style-button-descargarCV {
    top: 2vw;
  }
}
