* {
    box-sizing: border-box;
}

.container-padre_sobreMi {
    background-image: linear-gradient(to bottom, #2a2a2a, #363636, #424242, #4f4f4f, #5c5c5c);
    width: 100%;
    height: 44vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container_small-picture, .container-image, .style-smallImage, .container-text_sobreMi, .style-h1-sobreMi, .style-span_linea-horizontal, .style-p-sobreMi {
    position: relative;
}

.container_small-picture {
    width: 21.6vw;
    height: 26.5vw;
    right: 2%;
}

.container-image {
    width: 19vw;
    height: 23.9vw;
    border: 0.7vw solid #FFB633;
    top: 8%;
}

.style-smallImage {
    width: auto;
    height: 23.8vw;
    border: 0.7vw solid #3a3a3a;
    left: 9%;
    bottom: 13%;
}

.container-text_sobreMi {
    width: 38vw;
    height: 38vw;
    left: 0.5%;
    padding-bottom: 3.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.style-h1-sobreMi {
    color: #fff;
    font-size: 3.5vw;
    font-weight: 700;
    right: 29%;
    bottom: 3.5%;
    letter-spacing: 2px;
    text-shadow: 1px 2px 3px black;
}

.container-text_sobreMi .style-span_linea-horizontal {
    width: 18%;
    height: 0.2vw;
    background-color: #FFB633;
    border-radius: 25px;
    bottom: 4.5%;
}

.style-p-sobreMi {
    color: rgb(192, 192, 192);
    bottom: 1%;
    text-align: left;
}

.style-button-descargarCV {
    width: 9.3vw;
    height: 3vw;
    background-color: #FFB633;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s;
    font-size: 1vw;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    box-shadow: 1px 2px 3px #000000;
}

.style-button-descargarCV:hover {
    color: #fff;
    background-color: #fca400;
    transition: all 0.7s;
    border-radius: 0 1.4vw 0 1.4vw;
}
