* {
  box-sizing: border-box;
}

.container-padre_sobreMi {
  background-image: linear-gradient(
    to bottom,
    #2a2a2a,
    #363636,
    #424242,
    #4f4f4f,
    #5c5c5c
  );
  width: 100%;
  height: 55vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container-padre_sobreMi::before {
  content: "";
  position: absolute;
  top: 43vw;
  left: -2.8vw;
  width: 40vw;
  height: 22vw;
  background-image: url("../../img/dots.png");
  background-repeat: no-repeat;
  background-size: 170%;
  background-position: center;
  /* background-color: red !important; */
}

.container_small-picture,
.container-image,
.style-smallImage,
.container-text_sobreMi,
.text-hobbies,
.style-h1-sobreMi,
.style-span_linea-horizontal,
.style-p-sobreMi {
  position: relative;
}

.container_small-picture {
  width: auto;
  height: auto;
  margin-right: 3.5%;
  /* background-color: blue; */
}

.container-image {
  width: 18vw;
  height: 23vw;
  border: 0.7vw solid #ffb633;
  border-radius: 56% 34% 30% 25% / 74% 40% 99% 58%;
  /* right: 2%; */
  left: 1vw;
  top: 0;
  /* background-color: red; */
}

.image_container {
  width: 16vw;
  height: 23vw;
  background-color: #fff;
  position: relative;
  bottom: 2.2vw;
  left: 1.8vw;
  border-radius: 56% 34% 30% 25% / 74% 40% 99% 58%;
  box-shadow: 1px 2px 3px #000000;
  overflow: hidden;
}

.main-style-image {
  height: 100%;
  animation: effectMawAnimado 0.5s;
  margin-top: 2.5px;
}

.show-maw {
  animation: effectMaw 0.5s;
}

.container-image:hover .main-style-image {
  animation: effectMaw 0.5s;
}

@keyframes effectMaw {
  from {
    transform: rotateY(180deg)
  }

  to {
    display: none;
  }
}


@keyframes effectMawAnimado {
  from {
    transform: rotateY(180deg)
  }

  to {
    display: block;
  }
}

.container-image-texts {
  display: flex;
  align-items: center;
  margin-bottom: 5vw;
  /* background-color: red; */
}


.container-text_sobreMi {
  width: 38vw;
  height: 30vw;
  margin-left: 1.5vw;
  /* margin-top: 7vw; */
  /* margin-bottom: 8.5vw; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: green; */
}

.container__title-text-hobbies {
  margin-top: 1vw;
}

.style-h1-sobreMi {
  font-family: 'Anton', sans-serif;
  font-size: 4vw;
  text-transform: uppercase !important;
  letter-spacing: 0.15vw !important;
  /* margin-top: 2vw; */
}

.style-h1-sobreMi::before {
  content: "sobre mí";
  position: absolute;
  background: linear-gradient(90deg, #ffb633, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-hobbies {
  font-size: 2.5vw;
  font-family: "Inter", sans-serif;
  text-shadow: 1px 2px 3px black;
  color: #fff;
}

.style-h1-sobreMi,
.title-hobbies {
  color: #fff;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.15vw;
}

.style-p-sobreMi,
.text-hobbies {
  font-size: 1.1vw !important;
  font-family: "Inter", sans-serif;
  color: rgb(192, 192, 192);
  text-align: left;
  line-height: 1.6;
}

.style-p-sobreMi {
  margin-top: -1vw;
}

 .style-button-descargarCV {
   width: 15vw;
   height: 3vw;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  font-family: "anton", sans-serif;
  letter-spacing: 2px;
  color: #2a2a2a;
  text-transform: uppercase;
  text-shadow: 0.05em 0.1em 0.15em #838383;
  box-shadow: 0.1em 0.15em 0.2em #333;
  position: relative;
  /* left: 23vw; */
  /* top: 3vw; */
  border-radius: 1.1vw 0.3vw 1.1vw 0.3vw;
  border: 0.30vw solid #fff;
  z-index: 0;
  background-color: #fff;
}

.style-button-descargarCV::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 1.1vw 0.3vw 1.1vw 0.3vw;
  z-index: -1;
  transition: all 0.5s;
}


.style-button-descargarCV:hover::before {
  background-color: #ffb633;
  height: 100%;
  transition: all 0.5s;
}

.style-button-descargarCV:hover .container-text-descargarCV {
  transition: all 0.5s;
  transform: rotateY(360deg);
  color: #fff;
  position: relative;
  bottom: 0.1vw;
  /* background-color: red; */
}


.container-text__CV-descargado {
  width: 14vw;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hideEffectHoverButton {
  pointer-events: none !important;
}

.container-text-descargarCV {
  font-size: 1.2vw;
  transition: all 0.5s;
  color: #2a2a2a;
  display: flex;
  align-items: center;
}

.texto-CV-descargado,
.fa-circle-check {
  animation: changeColors 0.5s forwards;
}

  @keyframes changeColors {
    from {
      color: #fff;
    }

    to {
      color: #ffb633;
      text-shadow: 1px 0 0 #2a2a2a, 0 1px 0 #2a2a2a, -1px 0 0 #2a2a2a, 0 -1px 0 #2a2a2a;
    }
  }

.texto-descargar-CV {
  margin-top: 0.1vw;
}

.fa-circle-check {
  font-size: 1.3vw !important;
}


@media only screen and (min-width: 1441px) and (max-width: 2560px) {
  .container-text_sobreMi p {
    font-size: 1.25vw;
  }
} 