@media screen and (max-width: 800px) {
  .container-padre_sobreMi {
    height: 100vw;
    padding-top: 8%;
    justify-content: space-around;
  }

  .container_small-picture {
    width: 43.5vw;
    height: 52vw;
    top: 0;
    left: 3%;
  }

  .container-image {
    width: 100%;
    height: 100%;
    border: 1.7vw solid #474747;
    top: 0;
  }

  .style-smallImage {
    width: 100%;
    height: 100%;
    border: 0;
    left: 0;
    bottom: 0;
  }

  .container-text_sobreMi {
    width: 48%;
    height: 90vw;
    left: 0% !important;
    bottom: 5%;
  }

  .style-h1-sobreMi {
    font-size: 8vw;
    right: 53%;
    top: 5%;
  }

  .container-text_sobreMi .style-span_linea-horizontal {
    width: 19.5vw !important;
    height: 0.3vw !important;
    background-color: #ffb633;
    border-radius: 25px;
    top: 3.7%;
    left: -18.8vw !important;
  }

  .style-p-sobreMi {
    width: 85%;
    padding: 3px;
    font-size: 3vw;
    color: rgb(192, 192, 192);
    top: 11.5%;
    left: 8%;
  }

  .style-button-descargarCV {
    width: 23.7vw;
    height: 7.5vw;
    top: 6%;
    left: -4%;
    margin: auto;
    /* border-radius: 0 3.4vw 0 3.4vw; */
    font-size: 2.7vw;
    box-shadow: 0 0 10px #2a2a2a;
  }

  .style-button-descargarCV:hover {
    transition: all 0.3s;
  }
}
